# R
.Rhistory
.RData
.Ruserdata

# RStudio
.Rproj.user/

# Quarto
.quarto/
_site/

# Sistema
.DS_Store
Thumbs.db

# Logs
*.log

# Temporários
*.tmp
*.bak
/.quarto/
**/*.quarto_ipynb

# Quarto outputs
_site/
.quarto/

# HTML gerado
*.html

# Bibliotecas geradas
*_files/
